# Dependencies
/node_modules

# Build output
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite build cache
.vite

# Local environment variables
.env.local
.env.*.local

# IDE and editor directories
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System files
.DS_Store
Thumbs.db
